#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 
/*메모장*/
.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 24px;
  border: 2px solid #bbb;
  border-radius: 8px;
  z-index: 10;
  min-width: 300px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.1);
}

.App {
  background: #f9f9f9;
  color: #222;
  min-height: 100vh;
  transition: background 0.4s, color 0.4s;
}

.App.dark {
  background: #181a20;
  color: #eee;
}

.App.dark input,
.App.dark textarea {
  background: #23272f;
  color: #eee;
  border: 1px solid #333;
}

.App.dark button {
  background: #23272f;
  color: #eee;
  border: 1px solid #444;
}
